<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Registrar Imagen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()">
    
    <div *ngIf="imagePreview" class="image-preview">
      <img [src]="imagePreview" alt="Vista previa de imagen" />
    </div>

    <ion-button expand="block" (click)="pickImage()" color="secondary">
      📷 Tomar o Seleccionar Imagen
    </ion-button>

    <ion-item lines="full" class="form-item">
      <ion-label position="floating">Descripción</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" [disabled]="form.invalid" color="primary">
      💾 Guardar
    </ion-button>

  </form>
</ion-content>
