<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Lista de Registros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="multimedia$ | async as multimedia">
    <ion-item *ngFor="let item of multimedia" lines="full">
      <ion-thumbnail slot="start" class="custom-thumbnail">
        <img [src]="item.imageUrl" />
      </ion-thumbnail>
      <ion-label>
        <h2 class="description">{{ item.description }}</h2>
        <p class="date">{{ formatDate(item.createdAt) }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-note *ngIf="!(multimedia$ | async)?.length" class="ion-padding ion-text-center">
    No hay registros disponibles.
  </ion-note>
</ion-content>
