<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Registros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="multimedia$ | async as multimedia">
    <ion-item *ngFor="let item of multimedia">
      <ion-thumbnail slot="start">
        <img [src]="item.imageUrl" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.description }}</h2>
        <p>{{ formatDate(item.createdAt) }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-note *ngIf="!(multimedia$ | async)?.length" class="ion-padding">
    No hay registros disponibles.
  </ion-note>
</ion-content>
